<!DOCTYPE html>
<html>
<head>
    <title>Settings</title>
    <link href="http://current.bootstrapcdn.com/bootstrap-v204/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://current.bootstrapcdn.com/bootstrap-v204/css/bootstrap-responsive.min.css" rel="stylesheet">

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://current.bootstrapcdn.com/bootstrap-v204/js/bootstrap.js"></script>
    <script type="text/javascript" src="http://sslstatic.wix.com/services/js-sdk/1.16.4/js/Wix.js"></script>

    <link rel="stylesheet" href="/wix/css/jquery.css">
    <link href="http://www.engageya.com/css/lightbox.css" type="text/css" rel="stylesheet" />
    <link href="http://www.engageya.com/wix/css/emphasize.css" type="text/css" rel="stylesheet" />
    <link href="http://www.engageya.com/wix/css/master.css" type="text/css" rel="stylesheet" />
    <link href="http://www.engageya.com/wix/css/settings.css" type="text/css" rel="stylesheet" />
    <link href="http://www.engageya.com/wix/css/604a1af.css" rel="stylesheet" />

    <script src="http://www.engageya.com/wix/js/jquery-ui.js" type="text/javascript"></script>
    <script src="http://www.engageya.com/wix/js/jquery_002.js" type="text/javascript"></script>

    <script type="text/javascript" src="http://www.engageya.com/wix/js/jquery-1.8.1.js"></script>
    <script type="text/javascript">jQuery.noConflict();</script>
    <script type="text/javascript" src="http://www.engageya.com/wix/js/79853fa.js"></script>
    <script type="text/javascript" src="http://www.engageya.com/wix/js/mootools-full-1.4.1.js"></script>
    <script type="text/javascript" src="http://www.engageya.com/wix/js/mootools-more-1.4.0.1.js"></script>
    <script type="text/javascript" src="http://www.engageya.com/wix/js/lightbox.js"></script>
    <script type="text/javascript" src="http://www.engageya.com/js/common.js"></script>
    <script type="text/javascript" src="http://www.engageya.com/wix/js/wixwidget.js"></script>

</head>
<body style="margin:0px;">
<div id="symfony-wrapper">
<div class="symfony-content">
<div id="settings_popup">
<form action="" method="post" id="settings">
<div class="box_style top_section inline_block">
    <a href="http://www.engageya.com/" id="logo" target="_blank"><img src="/wix/images/green_logo.png" alt="Engageya"/></a>

    <div class="connect" style="width: 440px">
        <strong>Our promise:</strong>
        <ul>
	        <li>We will generate quality traffic to your site after the purchase</li>
	        <li>Our service will always be <strong>FREE</strong>!</li>
	        <li>You'll receive a simillar amount of traffic to the traffic diverted from your site.</li>
	        <li>"<i>The love you make is equal to love you take</i>"</li>
	    </ul>
    </div>
</div>
<div class="opened box_style appearance_settings_box">
    <div class="box_title inline_block">
        <h2><a href="#">Website properties</a></h2>

        <p>Set your site's properties to improve traffic targeting</p>
    </div>
    <ul class="style_settings_list">
        <li class="style_setting style_setting_expanded">
            <label for="name">Store Name:</label>
            <input id="name" name="name" />
        </li>
        <li class="style_setting style_setting_expanded">
            <label for="settings_mainBg">Website Language:</label>
            <select skinpart="collection" id="langselect"
                    class="wysiwyg_editor_skins_inputs_ComboBoxSkin-collection SelectBox"
                    onChange="applySettings();">
	            #foreach ($langauge in $languages)
                    <option value="">${langauge}</option>
	            #end
            </select>
        </li>
        <li class="style_setting style_setting_expanded">
            <label for="settings_mainBg">Website Location:</label>
            <select skinpart="collection" id="countryselect"
                    class="wysiwyg_editor_skins_inputs_ComboBoxSkin-collection SelectBox" onChange="applySettings();">
                <option value="0">Select country</option>
                <option value="3">United States</option>
                <option value="41">Cape Verde</option>
                <option value="42">Cayman Islands</option>
                <option value="43">Central African</option>
            </select>
        </li>
        <li class="style_setting style_setting_expanded">
            <label for="settings_mainBg">Website Category:</label>
            <select skinpart="collection" id="catselect"
                    class="wysiwyg_editor_skins_inputs_ComboBoxSkin-collection SelectBox"
                    onChange="applySettings();">
                <option selected="" value="0">Select category</option>
	            #foreach ($category in $categories)
                    <option value="">${category}</option>
	            #end
            </select>
        </li>
    </ul>
</div>
<div class="box_style reports_settings_box">
    <div class="box_title inline_block">
        <h2><a href="#">Traffic Reports</a></h2>

        <p>Trace your site's traffic through ByeLink</p>
    </div>
    <ul class="style_settings_list" style="display: none;">
        <li class="style_setting style_setting_expanded">
            <label style="width: 450px;">Sent to others counter: </label>
            <span style="line-height:5px; padding-left: 20px; padding-bottom: 15px;">104</span>
        </li>
	    <li class="style_setting style_setting_expanded">
            <label style="width: 450px;">Received to your site counter: </label>
            <span style="line-height:5px; padding-left: 20px; padding-bottom: 15px;">26</span>
        </li>
    </ul>
</div>
<div class="box_style advance_settings_box">
<div class="box_title inline_block">
    <h2><a href="#">Widget Styling</a></h2>
</div>
    <ul class="style_settings_list" style="display: none;">
        <li class="style_setting">
            <label for="settings_mainBg">Layout type:</label>
            <select skinpart="collection" id="layoutselect"
                    class="wysiwyg_editor_skins_inputs_ComboBoxSkin-collection SelectBox"
                    onChange="changedToRotating(); applySettings();">
                <option value="24" selected="selected">Thumbnails(130px X 130px) + shadow effect + titles</option>
                <option value="21">Thumbnails (130px X 130px) + titles</option>
                <option value="20">Thumbnails (100px X 100px) + titles</option>
                <option value="17">Thumbnails (100px X 75px) + titles</option>
                <option value="10">Rotating large images</option>
                <option value="22">Bulleted titles + hover effect</option>
                <option value="15">Bulleted titles, plain</option>
            </select>
        </li>
        <li class="style_setting">
            <label for="settings_mainBg">Font color:</label>
            <input type="text" id="settings_mainBg" name="settings[mainBg]" class="colorPicker-picker" value="#000000"
                   onChange="applySettings();"/>
            <input type="checkbox" id="settings_mainBgOpacity" name="settings[mainBgOpacity]" value="1"/>
        </li>
        <li class="style_setting">
            <label for="settings_titleColor">Header text:</label>
            <input skinpart="input" type="text" class="wysiwyg_editor_skins_inputs_InputSkin-input HeaderBox"
                   id="headertext" placeholder="" maxlength="60" value="Other related websites:"
                   onBlur="applySettings();">
        </li>
        <li class="style_setting">
            <label for="settings_blocksBg">Background color</label>
            <input type="text" id="settings_blocksBg" name="settings[blocksBg]" class="colorPicker-picker"
                   value="#F3E5AB"
                   onChange="jQuery('#settings_blocksBgOpacity').attr('checked', false); applySettings();"/>
            <input type="checkbox" id="settings_blocksBgOpacity" name="settings[blocksBgOpacity]" value="1"
                   onClick="applySettings();"/>
            <label for="settings_blocksBgOpacity">Transparent</label>
        </li>
    </ul>
<div style="clear: both;"></div>
</div>
<div class="box_style facebook_box">
    <div class="box_title inline_block">
        <h2><a href="#">My Offering</a></h2>
    </div>
    <ul class="style_settings_list" style="display: none;">
        <li class="style_setting style_setting_expanded">
            <label for="offeringText">Offering Text:</label>
            <input id="offeringText" name="offeringText" />
        </li>
        <li class="style_setting style_setting_expanded">
            <label for="offeringImage">Offering Image:</label>
            <img src="/resources/img/3.jpg" id="offeringImage" />
        </li>
        <li class="style_setting style_setting_expanded">
            <label for="offeringLink">Offering Link:</label>
            <input id="offeringLink" name="offeringLink" />
        </li>
    </ul>
</div>
<input type="hidden" id="settings__token" name="settings[_token]" value="c396ae167c930f0c2d75c337da0b28e704d88832"/>
<input type="submit" value="Done" class="action_links save_settings" style="display: none;"/>
</form>
</div>
</div>
</div>

<script type="text/javascript">
    var settings = ${settings};
    $(document).ready(function () {
        init();
    });

    function saveChanges(title, color) {
        updateApp(color, title);
    }

    function updateApp(color, title) {
        settings.styling.color = color;
        settings.title = title;

        var compId = Wix.Utils.getOrigCompId();

        jQuery.ajax({
            'type': 'post',
            'url': "/app/settingsupdate",
            'dataType': "json",
            'contentType': 'application/json; chatset=UTF-8',
            'data': JSON.stringify({compId: Wix.Utils.getOrigCompId(), settings: settings}),
            'cache': false,
            'success': function (res) {
                console.log("update setting completed");
                setTimeout(function () {
                    Wix.Settings.refreshAppByCompIds(compId);
                }, 2000);
            },
            'error': function (res) {
                console.log('error updating data with message ' + res.responseText);
            }
        });
    }

    function setColorCheckedValue(chosen) {
        if (chosen == "" || chosen == "white") {
            chosen = "LightGreen";
        }

        $('.btn-group').children('.btn#' + chosen).button('toggle');
    }

    function getColorCheckedValue() {
        return $('.btn-group button.active').text();
    }

    function init() {
        $('#instanceId').html(Wix.Utils.getInstanceId());
        $('#uid').html(Wix.Utils.getUid());
        $('#permissions').html(Wix.Utils.getPermissions());
        $('#signDate').html(Wix.Utils.getSignDate());

        settings.styling.color = settings.styling.color || "LightGreen";
        settings.title = settings.title || "Check out our partner's special offers !";
        $('#mainTitle').html('<h2>' + settings.title + '</h2>');
        $('#title').val(settings.title);
        setColorCheckedValue(settings.styling.color);
        return $('.btn-group button.active').text();
    }
</script>

</body>
</html>